---
import '../index.css'
import BaseHead from '../components/BaseHead.astro'
import Navbar from '../components/Navbar.astro'
import Footer from '../components/Footer.astro'

interface Props {
  title: string
  description?: string
  noindex?: boolean
  ogImage?: string
}

const { title, description, noindex, ogImage } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} noindex={noindex} ogImage={ogImage} />
  </head>
  <body>
    <div class="flex min-h-svh flex-col">
      <Navbar />
      <main class="flex-1">
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
